/*======================================
 Dark color style
*/
body{
	color: #fff;
	background:#131313;
}
.tm-loader #circle{
	border: 2px solid  #fff;
}
.tm-loader #circle   {
	border-bottom: 2px solid #25282E;
}
blockquote p {
	color:rgba(255,255,255,0.51);
}
.contact-form-holder:before , .info-wrap , .fixed-filter , .content-holder  , .column-wrap , .content  , header , .nav-button .nbs:before  ,footer , section , article.single-article , #portfolio_horizontal_container , .owl-thumbs , .owl-thumb-item:before , .gallery_horizontal  , .vis-pan , .back-link{
	background:#131313;
}

header  , footer{
   background:#131313;
}
.info-wrap  , .nav-inner{
	background:#000;
}
.header-info ul li  span  , .section-title h2 span , .inf-mob-btn span{
	color:#aaa;
}
.header-info ul li  a , .footer-social li a span , .policy-box , .column-filter .gallery-filters a , .contact-list li span  , .share-holder  span {
	color: #fff;
}
.nav-button .nav-text  , .serv-item  span , .custom-skillbar-title span , .fixed-filter .gallery-filters a , .show-thumbs , .show-info , .art-date  , .blog-cat li  , .post-author-wrap span {
	color:#9B9B9B;
}
.show-thumbs , .show-info {
	color:rgba(255,255,255,0.81);
}
.nav-button span  , #respond #submit:hover  {
	background:#fff;
}
.custom-skillbar {
	background:rgba(255,255,255,0.81);
}
.sliding-menu a , .num-holder2  {
	color:rgba(255,255,255,0.81);
}
.sliding-menu a.act-link , .sliding-menu a:hover , .team-info p  , .contact-list li a   , .thecomment .comment-text span.date{
	color:#999;
}
.sliding-menu a.act-link:before{
	background:#ccc;
}
.btn {
	color:#fff;
	border:2px solid #404040;
	background:#404040;
}
.skill-name  , .fixed-filter .gallery-filters a.gallery-filter-active  , .inline-filter .gallery-filters a.gallery-filter-active , #contact-form input[type="text"] , #contact-form textarea , #comment-form input[type="text"]  , #comment-form textarea  , #success_page p  , .post-author-wrap p , #respond h3 a  , #respond input , .to-top{
	color:#fff;
}
.skillbar-bg {
	background:rgba(255,255,255,0.21);
}
.team-social li a , .serv-item h3  {
	color:#fff;
}
.team-info h4 {
	color: #bcbcbc;
}
.inline-filter .gallery-filters a  , .pagination-blog a{
	color:#666;
}
.show-info:before  , .post-comments-wrap span.reply a {
	background:#fff;
}
#contact-form #submit {
 
	border:2px solid #404040;
	background:#404040;
}
.close-contact:after , .close-contact:before  , .close-info:before , .close-info:after{
	background:#999;
}
.share-holder.trns-share span ,   #respond h3 small a   , #respond #submit,.wpcf7 .wpcf7-submit  , #contact-form #submit   , .blog-cat li a{
	color:#fff;
}
 .post-comments-wrap span.reply a ,  #respond #submit:hover{
	color:#000;
}
.share-icon {
	color:rgba(255,255,255,0.51);
}
.pagination-blog a.current-page, .pagination-blog a:hover {
    color:#fff;
	background:#404040;
}
.post-author {
	border-top:1px solid rgba(255,255,255,0.21);
}
.thecomment  , .post-author , .artcicle-list  , .serv-item {
	border-bottom:1px  solid rgba(255,255,255,0.21);
}
.thecomment .comment-text em i {
	color:#f3bd00;
}
#respond input  , #respond textarea{
	border:1px solid rgba(255,255,255,0.21);
	background:rgba(255,255,255,0.04);
}
#respond #submit,.wpcf7 .wpcf7-submit {
	background:#333;
}
 
.to-top:hover {
	color:rgba(255,255,255,0.21);
 
}
blockquote {
    border-left: 15px solid rgba(255,255,255,0.21);
}
@media only screen and  (max-width: 1036px) {
.header-info ul , .column-filter  {
 
	background:#131313;
 
}	
} 